# -----------------------------------------------------------------------------------#
#                                       Prep 
# -----------------------------------------------------------------------------------#
# [1] Download and install Anaconda
#
# [2] Open up a conda env for Python 3.7 named shape_completion
# -----------------------------------------------------------------------------------#
#                              	  Package Install
# -----------------------------------------------------------------------------------#
# [3] Install torch for Python 3.7 + Cuda 10.1
#     Command: conda install pytorch torchvision cudatoolkit=10.1 -c pytorch
# 
# [4] Install these on the conda env via: 
#     Command: pip install -r requirements.txt

pytorch-lightning # Does not support versions
torchviz==0.0.1
psutil==5.6.7
scipy==1.4.1
scikit_learn==0.20.2
matplotlib==3.0.2
pyvista==0.23.0
pillow==9.3.0
plyfile==0.7.1
sortedcontainers==2.1.0
test-tube==0.7.5
tensorboard==2.0.0
yagmail
chamferdist
# -----------------------------------------------------------------------------------#
#                Important Notes (to save painful debugging)
# -----------------------------------------------------------------------------------#
# [5] Pyrender & glm dependency are provided under /data_prep/external_tools
#     To generate a correct rendering the mesh must be provided with the following types
#     vertices: float32, faces: int32
# [6] Usage of PyRender - Only under Linux. Please take care to install CUDA runtime 10.2
#     to enable compilation. We recommend the deb(local) setting. Please see data_prep/prep_main.py
#     for more details.. 
# [7] The executable for PyRender is supplied, but you might need to compile it again on
#     a different machine. Remember to download glm and fix its include path in compile.sh
#
# -----------------------------------------------------------------------------------#
#                            Collaterals - Windows only
# -----------------------------------------------------------------------------------#
# [8] Optional: If you want to support full tensoboard features, install tensorflow via:
#     Command: pip install tensorflow
#
# [9] Optional: In order to support nn.visualize(), please install Graphviz
#  *  Surf to: https://graphviz.gitlab.io/_pages/Download/windows/graphviz-2.38.msi
#  *  Install the application to C:\Program Files (x86)\Graphviz2.38
#  *  Add to your PATH variable: "C:\Program Files (x86)\Graphviz2.38\bin"
# -----------------------------------------------------------------------------------#
#                            		Collaterals
# -----------------------------------------------------------------------------------#
# [10] GMAIl Credentials - We use the yagmail package to send the Tensorboard logs to 
#      a shared email account. You can configure the email account by placing a txt 
#      file under data/collaterals/gmail_credentials.txt with the following information: 
#      user=yourmail@gmail.com
#      pass=yourpassword 
# -----------------------------------------------------------------------------------#
#                           		    Debug
# -----------------------------------------------------------------------------------#
#  PyCharm Users: Make sure that 'src/core' is enabled as the Source Root: 
#  * See https://stackoverflow.com/questions/28705029/pycharm-error-no-module-when-trying-to-import-own-module-python-script

